footer {
  background-image: $background-image-url;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: sticky;

  .mask {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  //support IE and Edge browsers
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    position: relative;
  }
  @supports (-ms-accelerator: true) {
    position: relative;
  }

  @supports (-ms-ime-align: auto) {
    position: relative;
  }

  z-index: -1;
  bottom: 0;

  a {
    color: white !important;
  }

  a:hover {
    color: #ddd;
  }

  svg {
    margin-right: 1rem;
  }

  .container > * {
    margin-bottom: 2rem;
  }
}
