footer {
	background-image: $background-image-url;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	position: sticky;
	z-index: -1;
	bottom: 0;


	a {
		color: white !important;
	}

	a:hover {
		color: #ddd;
	}

	svg {
		margin-right: 1rem;
	}

	.container>* {
		margin-bottom: 2rem;
	}
}