header {
	transition: filter .3s linear;
}

.header {
	background-image: $background-image-url;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.logo {
		padding: 30px;

		img {
			max-height: 15vh;
		}
	}

	div.jumbotron .jumbotron-fluid {
		margin: 0;
	}

	a {
		margin-top: 100px;
		font-size: 3rem;
	}

	a:hover {
		color: $color-primary !important;
		border-radius: 50%;
		transition: color .5s, box-shadow .5s linear;
	}

	.motto {
		font-family: $decorative-font;
		font-size: 3rem;
		margin: 0;
		max-width: 100%;
	}
}