.main {
	position: relative;
	z-index: 1;
	color: $text-color;

	h1 {
		font-family: $decorative-font;
	}

	.products {
		scroll-behavior: smooth;
	}

	.product-item {
		.add-to-basket {
			display: flex;
			justify-content: center;
			align-content: center;
			color: $color-primary;
			position: absolute;
			top: 10px;
			right: 10px;
			transition: .3s linear;
			cursor: pointer;
		}

		img {
			border-radius: 50%;
		}

		.product-button {
			@include button;
			width: 100%;
			margin-bottom: 1rem;

		}

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1rem;
		box-shadow: -6px 6px 10px 4px $color-red-dark;
		margin-bottom: 1rem;
		background: $color-background;
		color: $color-secondary
	}

	.product-price {
		font-family: $decorative-font;
		font-weight: bold;
		font-size: 1.2rem;
	}

	.product-name {
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		font-family: $decorative-font;
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: 2px;
	}

	.product-calories {
		padding: 0;
		font-family: $normal-font;
		text-transform: uppercase;
	}

	.product-alergens {
		button {
			background-color: transparent;
			border: none;
			font-size: 2rem;
			color: $color-red-dark;
			line-height: 0;
			outline: 0;
		}
	}

	#expand-button {
		transition: transform .3s;
	}

	.rotate {
		transform: rotate(180deg);
	}

	.active {
		background-color: $color-red-dark;
	}
}