@media (max-height: 450px) {
	.header {
		a {
			font-size: 4rem;
		}
	}
}

@media (max-width: 450px) {
	.header {
		a {
			font-size: 4rem;
		}
	}

	main {
		h1 {
			font-size: 3rem !important;
		}

		h2 {
			font-size: 2rem !important;
		}
	}

	.hidden-menu,
	.order.active {
		width: 100vw;
	}
}

@media (max-height: 640px) {
	footer {
		height: 100vh;
	}
}