@media (max-height: 450px) {
	.header {
		a {
			font-size: 4rem;
		}
	}
}

@media (max-width: 1000px) {
	.header {
		a {
			font-size: 4rem;
		}
	}


	.hidden-menu,
	.order.active {
		width: 100vw;
	}
}

@media (max-height: 500px) {
	.header {
		.container {
			display: flex;
			justify-content: space-around;

			img {
				display: none;
			}

			a {
				font-size: 3rem;
			}
		}

	}
}

@media (max-height: 640px) {
	footer {
		height: 100vh;
	}
}

@media (max-width: 768px) {
	main {
		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 2rem;
		}
	}
}