@mixin closeButton {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	cursor: pointer;


	&:hover {
		color: $color-red-dark;
	}

}

@mixin hidden {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 30vw;
	background-color: $color-background;
	z-index: 1;

	&.active .blur {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: -1;
	}
}

@mixin header {
	padding: 200px 0;
	text-align: center;
	background-image: url("../../images/background-image.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: right;
	color: white;
}

@mixin button {
	background-color: $color-secondary;
	border-radius: 5px;
	border-style: none;
	color: white;
	padding: 10px 20px;
}