nav.main-navigation {
	top: 0;
	left: 0;
	color: white;
	background: linear-gradient(rgb(0, 0, 0), transparent);
	padding-bottom: 50px;
	width: 100%;

	svg {
		color: white;
	}

	ul {
		cursor: pointer;
	}

	li {
		&:hover {
			color: #ddd;
		}
	}
}