$decorative-font: 'Fjalla One',
sans-serif;
$nomal-font: 'Montserrata',
sans-serif;
$text-color: #fff;
$color-orange: rgba(255, 152, 42, 1);
$color-red: #e9242d;
$color-red-dark: rgba(0, 0, 0, .12);
$handwritting-font: "Just Me Again Down Here",
sans-serif;
$background-image-url: url("/images/background-image.jpg");
$animation-move-in-out: 1s both;