@import 'variables';
@import 'mixins';
@import 'nav';
@import "header";
@import 'main';
@import 'footer';
@import 'buttons';
@import 'hidden-menu';
@import 'media';
@import 'order';


html {
	scroll-behavior: smooth;
	font-family: $normal-font;
}

body {
	height: 100vh;
	background-color: $color-red;
}